#header{
    padding-bottom: 30px;
    padding-top: 10px;
    margin-left: 440px;
    font-size: 50px;
}
.display-4{
    padding-top: 30px;
}
#doc{
    margin-left: 100px;
    font-weight:unset;
}