<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="meds-form_style.css">
    </head>
    <body>
       <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="jumbotron  "  style=background-color:darkgray>
                        <div class="container">
                        <h2 class="display-4 " id="pd">
                           Form to Add Medicines
                        </h2>
                       
                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                        <img class="card-img" id="f-img" src="https://images.unsplash.com/photo-1471864190281-a93a3070b6de?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWVkaWNpbmVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                        <div class="card-img-overlay">
                                <form class="fm" action="/meds/add" method="post">
                                <h4>Medicine Name</h4>
                                    <input type="text" name="name" placeholder="medicine name"/>
                                <h4 id="ct">Medicine Count</h4>
                                 <input type="text" name="count" placeholder="count"/><br>
                                 <label> <h4 id="ct">select brand</h4></label>
                                 <select class="btn btn-secondary dropdown-toggle" name="brand">
                                <option>Cipla</option>
                                <option>Patanjali</option>
                                <option>Lupin</option>
                                </select><br>
                                 <button class="btn btn-danger" type="submit" id="cd">Add</button>
        
                    

                                 </form>
                        </div>
            </div>

            

       </div>
    </body>
</html>